@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'posterama';
    src: url('Fonts/Posterama/@font-face/Posterama2001W04-Regular.woff2') format('woff2'), url('Fonts/Posterama/@font-face/Posterama2001W04-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------> scrollbar <---------*/


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*---------> index <---------*/

.font_credit {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #160a22;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    overflow: hidden;
    width: 100vw auto;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fade {
    position: relative;
    overflow: hidden;
    width: 100vw auto;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acSection {
    position: relative;
    overflow: hidden;
    width: 100vw auto;
    height: 100vh;
    padding: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}

#fade::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #160522, transparent);
    z-index: 1000;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
    transform: translateY(-100px);
    pointer-events: none;
}

#btn {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: black;
    font-size: 1.5em;
    z-index: 9;
    cursor: pointer;
    transition: 0.15s;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar .logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar .logo-line {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar .logo-noline {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar2 .logo-noline {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar2 .logo-line {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar .logo-noline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar .logo-line:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    left: 0;
    width: 100%;
}

.navbar:hover .logo-noline::after {
    width: 100%;
    left: 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    height: auto;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 5px;
    transition: 0.25s;
}

nav ul li a:hover {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

.button {
    text-decoration: none;
    height: auto;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
}

.button:hover {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

.menu-icon {
    display: none;
    text-decoration: none;
    height: auto;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
}

.menu-icon:hover {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

.Active,
#Active {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1920px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    opacity: 100%;
    transition: 0.15s;
}

.btn:hover,
#btn:hover {
    opacity: 90%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}

.title::after {
    content: "";
    background: white;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: white;
    font-weight: normal;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 p {
    font-size: 14px;
}


/*---------> categories <---------*/

.categories::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #160a22, transparent);
    z-index: 1000;
}

.categories {
    margin: 70px 0;
    overflow: hidden;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2c2c2c;
    transform: scale(1);
}

.col-3:hover .overlay {
    opacity: .5;
    transform: scale(1.025);
}

.col-3:hover .cat-text {
    opacity: 1;
}

.col-3:hover .cat-text:after {
    width: 100%;
    left: 0;
}

.col-3:hover .category {
    transform: scale(1.025);
}

.cat-text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    font-family: 'posterama';
}

.cat-text:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.image-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.category {
    transform: scale(1);
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 63%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    margin-left: -30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    outline: black;
    outline-width: 1px;
    transition: 0.5s ease;
    transform: scale(1);
}

.next {
    right: -4.5px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}


/*---------> offer <---------*/

.offer {
    background: linear-gradient(#612D52, #221430);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 {
    flex-basis: 50%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: white;
}

.col-2 .offer-img {
    padding: 50px;
    width: 100%;
}

small {
    color: #555;
}


/*---------> brands <---------*/

.brands {
    padding: 50px 50px;
    background-color: white;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transform: scale(1);
    transition: 0.5s;
}

.col-5 img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}


/*---------> footer <---------*/

.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    box-shadow: 0 50vh 0 50vh #000;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 15%;
    text-align: center;
}

.footer-col-1 img {
    flex: 1;
    width: 120px;
    margin-bottom: 15px;
}

.footer-col-2,
.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-2 ul,
.footer-col-3 ul {
    list-style-type: none;
}

ul {
    padding: 5px 40px;
}

#menuItems {
    padding: 0px 0px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.link {
    text-decoration: underline;
    color: #8a8a8a;
}

#link {
    text-decoration: none;
    transition: 0.15s ease;
}

#link:hover {
    text-decoration: underline;
}


/*---------> shop <---------*/

.row-2 {
    margin: 100px auto 50px;
    margin-bottom: 30px;
}

.row-2 h2 {
    justify-content: left;
    margin-right: 310px;
}

.row-2 #sortingSelect {
    justify-content: right;
    margin-left: 360px;
}

.row-2 p {
    cursor: pointer;
}

.row-2 .search-container {
    justify-content: center;
    float: right;
}

.row-2 input[type=text] {
    margin-top: 65.5px;
    margin-left: -323px;
    padding: 6px;
    padding-right: 45px;
    font-size: 17px;
    width: 650px;
    background-color: transparent;
    border: 1px solid white;
}

.row-2 .search-con button {
    position: absolute;
    margin-top: -34px;
    margin-left: 288px;
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #343434;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}

.row-2 .search-con button:hover {
    background: #424242;
}

.row-2 .search-con button:focus {
    outline: none;
}

select {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px;
    transition: 0.25s ease;
}

select:focus {
    outline: none;
    background-color: white;
    color: black;
}

.page-btn {
    margin: 0 auto 80px;
    margin-left: 700px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid white;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: white;
    color: black;
}

.page-btn a {
    color: white;
    text-decoration: none;
}

#page-btn-active {
    background: white;
    color: black;
}

#invisible {
    display: none;
}

#visible {
    display: inline-block;
}


/*---------> Product <---------*/

.col-2 p a {
    text-decoration: none;
    color: white;
}

.product {
    margin-top: 80px;
}

.product .col-2 {
    padding: 20px;
}

.product .col-2 img {
    padding: 0px;
}

.product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

.product select {
    display: block;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.product input {
    position: absolute;
    width: 58px;
    height: 35px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
    transform: translateY(-33px) translateX(92px);
}

.product h3 {
    margin-left: 20px;
}

.product p {
    margin-left: 20px;
}

.product h1 {
    margin-left: 20px;
}

.product:focus {
    outline: none;
}

.product input::-webkit-outer-spin-button,
.product input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product input[type=number] {
    -moz-appearance: textfield;
}

#noArrows::-webkit-outer-spin-button,
#noArrows2::-webkit-outer-spin-button,
#noArrows::-webkit-inner-spin-button,
#noArrows2::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#noArrows[type=number],
#noArrows2[type=number] {
    -moz-appearance: textfield;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
}

.smol-img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    opacity: 0.5;
    transform: scale(1);
    transition: 0.5s ease;
    cursor: pointer;
}

.smol-img:hover {
    transform: scale(1.1);
    opacity: 1;
}

#active-img {
    cursor: default;
    opacity: 1;
}

#active-img:hover {
    cursor: default;
    transform: scale(1);
    opacity: 1;
}

#prod-img {
    transition: 0.5s ease;
}

.prev-prod,
.next-prod {
    cursor: pointer;
    position: absolute;
    top: 58%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    margin-left: -530px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    outline: black;
    outline-width: 1px;
    transition: 0.5s ease;
    transform: scale(1);
}

.next-prod {
    right: 900px;
    border-radius: 3px 0 0 3px;
}

.prev-prod:hover,
.next-prod:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.prod-btn {
    position: absolute;
    margin: 0 auto 80px;
    margin-left: 100px;
    transform: translateY(-33px) translateX(-53px) scale(0.9);
}

.prod-btn span {
    display: inline-block;
    border: 1px solid white;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

.prod-btn span:hover {
    background: white;
    color: black;
}

.prod-btn a {
    color: white;
    text-decoration: none;
}

#prod-btn-active {
    background: white;
    color: black;
}

.color-btn {
    position: absolute;
    margin: 0 auto 80px;
    margin-left: 100px;
    transform: translateY(-33px) translateX(-40px) scale(0.9);
    background: transparent;
}

.color-btn span {
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

#color-btn-active {
    color: white;
}

.product .col-1 {
    flex-basis: 100%;
    padding: 10px;
    padding-top: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-top: -100px;
    justify-content: left;
    align-items: left;
    transform: translateX(-15px);
}

.product .col-1 h4 {
    font-size: 30px;
}

.product .col-1- {
    flex-basis: 100%;
    padding: 10px;
    padding-top: 50px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-top: -100px;
    justify-content: left;
    align-items: left;
    transform: translateX(-15px);
}

.product .col-1- h4 {
    font-size: 30px;
}

.product .col-1- p {
    font-weight: bolder;
    font-size: 20px;
}

.product .col-1- a {
    font-weight: normal;
    font-size: 20px;
}

.row-2- {
    justify-content: center;
    margin: 25px auto 35px;
}

.row-2- h2 {
    margin-right: 725px;
}

.row-2- p {
    cursor: pointer;
}

.product .btn-h3 {
    margin-top: 35px;
}

.product .btn {
    transform: translateY(-65px) translateX(85px);
    margin-left: 20px;
    opacity: 100%;
    transition: 0.25s ease;
}

.product .btn:hover {
    opacity: 70%;
}


/*---------> cart <---------*/

.cart-pg {
    margin: 80px auto;
}

.cart-table {
    width: 110%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-info small {
    color: white;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    border: 1px solid white;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td a {
    color: white;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s ease;
    cursor: pointer;
}

td img:hover {
    transform: scale(1.1);
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid white;
    width: 110%;
    max-width: 420px;
    margin-right: -97px;
}

.cart-btn {
    background: white;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 50%;
    cursor: pointer;
    opacity: 100%;
    transition: 0.15s ease;
}

.cart-btn:hover {
    opacity: 70%;
}

.cart-btn:last-child {
    text-align: center;
}

td .inputQuan {
    padding: 5px;
    width: 48px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

td .inputQuan::-webkit-outer-spin-button,
td .inputQuan::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td .inputQuan[type=number] {
    -moz-appearance: textfield;
}

.remove-btns {
    cursor: pointer;
}


/*---------> account <---------*/

#container {
    position: absolute;
}

.form-container {
    background: #160a22;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.form-container span {
    color: white;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.5s;
}

form .accountInput {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid white;
    color: black;
    background-color: white;
}

form .accountInput:focus {
    outline: none;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: #160a22;
    background-color: white;
}

form .btn:focus {
    outline: none;
}

#resetForm {
    left: -300px;
    top: -300px;
}

#PasswordForm {
    left: 0px;
    top: -300px;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0px;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: white;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 0.5s;
}

.ErrorL,
.Error,
.ErrorP,
#ErrorR {
    position: absolute;
    width: 260px;
    height: 43px;
    color: red;
    transform: translateY(-40px);
    font-size: 12px;
    text-align: center;
    opacity: 0;
    border: 1px solid red;
    margin-right: 20px;
    transition: 0.15s;
}

#RegForm .toggleSeePass {
    position: absolute;
    color: black;
    top: 116px;
    left: 255px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#RegForm .toggleSeePass i.fa-eye-slash {
    display: none;
}

#RegForm .toggleSeePass.active i.fa-eye-slash {
    display: block;
}

#RegForm .toggleSeePass.active i.fa-eye {
    display: none;
}

#RegForm .toggleSeePass i.fa-eye {
    display: block;
}

#RegForm .passStrength {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 0px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 10px;
    cursor: default;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0%;
    transform: translateY(-10px);
}

#RegForm .passStrength span:nth-child(1) {
    position: relative;
    font-size: 13px;
    color: #111;
    z-index: 2;
    font-weight: 600;
    top: -6px;
    cursor: default;
}

#RegForm .passStrength span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    transition: all 100ms ease-in-out;
    cursor: default;
}

#LoginForm .toggleSeePass2 {
    position: absolute;
    color: black;
    top: 67px;
    left: 255px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#LoginForm .toggleSeePass2 i.fa-eye-slash {
    display: none;
}

#LoginForm .toggleSeePass2.active i.fa-eye-slash {
    display: block;
}

#LoginForm .toggleSeePass2.active i.fa-eye {
    display: none;
}

#LoginForm .toggleSeePass2 i.fa-eye {
    display: block;
}

#PasswordForm .toggleSeePass3 {
    position: absolute;
    color: black;
    top: 92px;
    left: 255px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#PasswordForm .toggleSeePass4 {
    position: absolute;
    color: black;
    top: 157px;
    left: 255px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#PasswordForm .toggleSeePass3 i.fa-eye-slash,
#PasswordForm .toggleSeePass4 i.fa-eye-slash {
    display: none;
}

#PasswordForm .toggleSeePass3.active i.fa-eye-slash,
#PasswordForm .toggleSeePass4.active i.fa-eye-slash {
    display: block;
}

#PasswordForm .toggleSeePass3.active i.fa-eye,
#PasswordForm .toggleSeePass4.active i.fa-eye {
    display: none;
}

#PasswordForm .toggleSeePass3 i.fa-eye,
#PasswordForm .toggleSeePass4 i.fa-eye {
    display: block;
}

#PasswordForm .passStrength2 {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 0px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 10px;
    cursor: default;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0%;
    transform: translateY(-10px);
}

#PasswordForm .passStrength2 span:nth-child(1) {
    position: relative;
    font-size: 13px;
    color: #111;
    z-index: 2;
    font-weight: 600;
    top: -6px;
    cursor: default;
}

#PasswordForm .passStrength2 span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    transition: all 100ms ease-in-out;
    cursor: default;
}


/*---------> cookies <---------*/

.cookies {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cookies .container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: black;
    opacity: 75%;
    padding-top: 5px;
    margin-bottom: -50px;
    vertical-align: middle;
    text-align: center;
    top: 10000px;
    transition: 0.5s ease;
}

.cookie-btn {
    padding: 10px;
    margin-right: 15px;
    margin-left: 50px;
    border: 1px solid white;
    cursor: pointer;
}

.cookie-btn:last-child {
    margin-left: 0px;
}


/*---------> contact <---------*/

.elemnt {
    background-color: transparent;
    transition: 0.5s ease;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 15px;
    height: 95px;
    margin-top: 10px;
    cursor: pointer;
}

.elemnt:hover {
    background-color: rgba(15, 86, 132, 0.2);
}

.elemnt #element-icon {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    margin-right: 20px;
}

.elemnt #element-icon i {
    transform: translateX(16px) translateY(10px) scale(3);
}

.elemnt h3 {
    transform: translateX(80px) translateY(-60px);
}

.elemnt #elmA {
    transform: translateX(80px) translateY(-60px);
}

#show {
    box-shadow: 0 0 20px 0px #160a22;
    position: absolute;
    background-color: white;
    color: black;
    text-align: center;
    margin-right: 750px;
    margin-left: 775px;
    border-radius: 50px;
    vertical-align: middle;
    top: 50px;
    width: 325px;
    height: 50px;
    opacity: 100%;
    transition: 0.5s ease;
}

#hide {
    position: absolute;
    background-color: white;
    color: black;
    text-align: center;
    margin-right: 750px;
    margin-left: 775px;
    border-radius: 50px;
    vertical-align: middle;
    top: 37px;
    width: 325px;
    height: 50px;
    opacity: 0%;
    transition: 0.5s ease;
}

.notif a {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px;
}

.notif i {
    font-size: 35px;
    transform: translateY(7px) translateX(10px);
    font-weight: bolder;
}


/*---------> checkout <---------*/

.CheckoutForm {
    padding: 0 20px;
    transform: translateX(-21px);
    position: inherit;
    top: 130px;
    transition: transform 0.5s;
}

.CheckoutForm textarea {
    width: 1110px;
    height: 100px;
    vertical-align: top;
    padding: 10px 10px;
    border: 0px;
    color: white;
    background-color: black;
    resize: none;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.CheckoutForm textarea:focus {
    outline: none;
    border: 1px solid lightblue;
}

.checkbox {
    width: 1100px;
}

.checkbox a {
    color: lightblue;
    font-size: 15px;
    text-decoration: underline;
}

.CheckoutForm label {
    font-size: 15px;
}

.carty-btn {
    margin-top: 15px;
    background-color: rgba(42, 184, 88, 1);
    color: white;
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    width: 1100px;
    height: 40px;
    cursor: pointer;
    opacity: 100%;
    transition: 0.15s ease;
}

.carty-btn:hover {
    opacity: 70%;
}

.carty-btn a {
    display: inline-block;
    margin-top: 8px;
    font-size: 15px;
}

.CheckoutForm .innput {
    transform: translateX(200px) translateY(-35px);
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    color: white;
    background-color: black;
}

.CheckoutForm .innput:focus {
    outline: none;
    border: 1px solid lightblue;
}


/*---------> Filters <---------*/

.filters-cont {
    position: absolute;
    border: 1px solid white;
    width: 375px;
    height: 1360px;
    margin-left: 24px;
    margin-top: 173px;
}

.filters-cont h1 {
    text-align: left;
    border-bottom: 5px solid white;
    padding-top: 25px;
    margin-bottom: 25px;
    width: 110px;
}

.filters-cont .clearBtn {
    background-color: white;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    margin-left: 100px;
    cursor: pointer;
}

.filters-cont .row:first-child {
    border-top: 0px solid white;
    padding-bottom: 0px;
    display: flex;
}

.filters-cont .row {
    border-top: 1px solid white;
    padding-bottom: 250px;
    display: block;
    overflow: hidden;
    position: relative;
}

.filters-cont .row:last-child {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-bottom: 0px;
}

.filters-cont .row .top-row {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.filters-cont .row .top-row a {
    position: absolute;
    text-align: right;
    font-size: 20px;
    padding-left: 330px;
    transform: translateY(-32px);
}

.filters-cont .row .bottom-row {
    position: absolute;
    height: 240px;
    width: 373px;
    overflow: auto;
    padding-left: 15px;
    padding-top: 13px;
}

.filters-cont .row .bottom-row .checkbox-cat {
    padding-top: 13px;
    transition: 0.15s;
}

.filters-cont .row .bottom-row .checkbox-cat input {
    transform: scale(1.5);
    display: none;
}

.filters-cont .row .bottom-row .checkbox-cat .fakeCheck {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    transition: 0.15s;
}

.checkbox-cat:hover {
    cursor: pointer;
}

.checkbox-cat:hover .fakeCheck {
    transform: scale(1.1);
    cursor: pointer;
}

.checkbox-cat:hover .fakeCheck a {
    display: inline;
    opacity: 50%;
}

.checkbox-cat:hover label {
    cursor: pointer;
    transform: scale(1.1);
}

.fakeCheck a {
    position: absolute;
    font-size: 25px;
    margin-top: -12px;
    margin-left: 1.5px;
    transition: 0.15s;
}

.fakeCheck .notChecked {
    display: none;
}

.fakeCheck .Checked {
    display: inline;
}

.filters-cont .row .bottom-row .checkbox-cat label {
    position: absolute;
    margin-top: -23px;
    margin-left: 30px;
    font-size: 17px;
    transition: 0.15s;
}


/*---------> account <---------*/

.btn-cont {
    width: 100%;
}

.btn-cont .btncont {
    padding-top: 15px;
    width: 100%;
    text-align: center;
    color: rgb(79, 185, 255);
}

.btn-cont .btncont a:hover {
    color: rgb(136, 207, 255);
}

.btn-cont .btnrow {
    border: 1px solid rgb(255, 255, 255, .25);
    color: rgb(255, 255, 255, .25);
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-family: "Posterama";
    cursor: pointer;
    transition: 0.25s ease;
    background: rgb(17, 17, 17);
}

.btn-cont .btnrow:hover {
    border-left: 5px solid rgb(0, 153, 255);
    color: white;
    font-size: 19px;
}

.btn-cont #btnAct {
    border-left: 5px solid rgb(0, 153, 255);
    color: white;
    font-size: 19px;
    cursor: default;
}

.btn-cont .btnrow i {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.btn-cont #btnAct i {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.info-cont {
    background: rgb(17, 17, 17);
    border: 1px solid rgb(255, 255, 255, .25);
    width: 100%;
    padding-left: 50px;
}

.info-cont p {
    color: rgb(180, 180, 180);
    padding-top: 15px;
    font-size: 13px;
}

.info-cont h2 {
    padding-top: 25px;
}

.info-cont .row .col-2 .inputPencil {
    height: 45px;
    width: 75%;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid rgb(255, 255, 255, .25);
}

.info-cont .row .col-2 .inputPencil:focus {
    outline: none;
    border: 1px solid rgb(57, 176, 255);
}

.info-cont .row .col-2 i {
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 5px;
    background: rgb(0, 153, 255);
    cursor: pointer;
}

.info-cont .row .col-2 i:hover {
    background: rgb(23, 161, 253);
}

.info-cont .row .col-2 .inputNoPencil {
    height: 45px;
    width: 92%;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid rgb(255, 255, 255, .25);
}

.info-cont .row .col-2 .inputNoPencil:focus {
    outline: none;
    border: 1px solid rgb(57, 176, 255);
}

.info-cont .row .col-2 .adrBtn {
    padding: 15px;
    background: grey;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 5px;
}

.info-cont .row .col-2 .adrBtn:hover {
    background: rgb(83, 83, 83);
}

.info-cont .row .col-2 .adrBtn:last-child {
    background: rgb(23, 161, 253);
}

.info-cont .row .col-2 .adrBtn:last-child:hover {
    background: rgb(0, 132, 255);
}

.container .row .pg {
    opacity: 0%;
    display: none;
    transform: translateY(100px);
}

.container .row .act {
    display: inline;
    animation: fade_in_show 0.5s;
    transform: translateY(0px);
    opacity: 1;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.table-cont table {
    border-collapse: collapse;
    width: 95%;
}

.table-cont table tr th {
    /*border: none;*/
}

.form-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0%;
    display: none;
    vertical-align: middle;
}

.form-overlay .overlay-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 50%;
    background-color: rgb(17, 17, 17);
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 100%;
    width: 75px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.ovlyact {
    display: block;
    animation: showovly 0.3s;
    opacity: 1;
}

@keyframes showovly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.window-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.25s ease;
}

.window-overlay .container-overlay{
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #202020;
    width: 30%;
    height: 470px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid rgb(255, 255, 255, .25);
    transition: 0.25s ease;
}

.container-overlay h3{
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.container-overlay h3 i{
    padding-top: 7px;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.container-overlay h4{
    font-size: 15px;
    padding-bottom: 10px;
}

.window-input {
    height: 45px;
    width: 80%;
    border-radius: 5px;
    padding-left: 10px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255, .25);
}

.window-input:focus {
    outline: none;
    border: 1px solid rgb(57, 176, 255);
}

.checkboxDiv {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    transition: 0.15s;
}

.checkboxDiv:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.checkboxDiv:hover .notChecked {
    opacity: 50%;
}

.checkboxDiv a {
    position: absolute;
    font-size: 22px;
    margin-top: -11px;
    margin-left: 1.5px;
    transition: 0.15s;
}

.checkboxDiv .notChecked {
    opacity: 0%;
}

.checkboxDiv .Checked {
    opacity: 100%;
}

.window-btn {
    padding: 15px;
    background: grey;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 5px;
    padding-right: 35px;
    padding-left: 35px;
}

.window-btn:hover {
    background: rgb(83, 83, 83);
}

.window-btn:last-child {
    background: rgb(23, 161, 253);
}
.window-btn:last-child:hover {
    background: rgb(0, 132, 255);
}

.window-hidden{
    opacity: 0%;
    visibility: hidden;
}

.window-shown{
    visibility: visible;
    opacity: 100%;
}

.changePassStrength {
    position: relative;
    width: 75%;
    height: 15px;
    margin-top: 0px;
    margin-left: 8px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 10px;
    cursor: default;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0%;
    transform: translateY(-48px);
    background: transparent;
    border: 1px solid #757575;
}

.changePassStrength span:nth-child(1) {
    position: relative;
    font-size: 13px;
    color: #444444;
    z-index: 2;
    font-weight: 600;
    top: -6px;
    cursor: default;
}

.changePassStrength span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    transition: all 100ms ease-in-out;
    cursor: default;
}

/*---------> mobile <---------*/

@media only screen and (max-width: 995px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
        text-decoration: none;
        height: auto;
        border-radius: 50px;
        color: white;
        font-size: 1em;
        padding: 5px 10px;
        cursor: pointer;
    }
    .menu-icon:hover {
        border-radius: 50px;
        background-color: #fff;
        color: black;
        padding: 5px 10px;
    }
    .copyright {
        text-align: center;
        font-size: 20px;
    }
}

@media only screen and (max-width: 815px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .navbar .logo {
        font-size: 1em;
        padding-left: 3px;
    }
    .navbar {
        width: 100%;
        padding: 30px 20px;
    }
    #text {
        position: absolute;
        color: #fff;
        white-space: nowrap;
        font-size: 1.5em;
        z-index: 9;
        transform: translateY(-50px);
        pointer-events: none;
    }
    #btn {
        position: absolute;
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #fff;
        color: black;
        font-size: 1em;
        z-index: 9;
        cursor: pointer;
    }
    .product .row {
        text-align: left;
    }
    .product .col-2 {
        padding: 20px 0;
    }
    .product h1 {
        font-size: 26px;
        line-height: 32pc;
    }
}