@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'posterama';
    src: url('Fonts/Posterama/@font-face/Posterama2001W04-Regular.woff2') format('woff2'), url('Fonts/Posterama/@font-face/Posterama2001W04-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font_credit {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #160a22;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    overflow: hidden;
    width: 100vw auto;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fade {
    position: relative;
    overflow: hidden;
    width: 100vw auto;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acSection {
    position: relative;
    overflow: hidden;
    width: 100vw auto;
    height: 100vh;
    padding: 30px;
    display: block;
    justify-content: center;
    align-items: center;
}

#fade::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #160522, transparent);
    z-index: 1000;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
    transform: translateY(-100px);
    pointer-events: none;
}

#btn {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: black;
    font-size: 1.5em;
    z-index: 9;
    cursor: pointer;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar .logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar .logo-line {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar .logo-noline {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar2 .logo-noline {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar2 .logo-line {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'posterama';
}

.navbar .logo-noline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar .logo-line:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    left: 0;
    width: 100%;
}

.navbar:hover .logo-noline::after {
    width: 100%;
    left: 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    height: auto;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 5px;
    transition: 0.25s;
}

nav ul li a:hover {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

.button {
    text-decoration: none;
    height: auto;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
}

.button:hover {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

.menu-icon {
    display: none;
    text-decoration: none;
    height: auto;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
}

.menu-icon:hover {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

.Active,
#Active {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1920px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}

.title::after {
    content: "";
    background: white;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: white;
    font-weight: normal;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 p {
    font-size: 14px;
}


/*---------> categories <---------*/

.categories::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #160a22, transparent);
    z-index: 1000;
}

.categories {
    margin: 70px 0;
    overflow: hidden;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2c2c2c;
    transform: scale(1.025);
}

.col-3:hover .overlay {
    opacity: .5;
    transform: scale(1.025);
}

.col-3:hover .cat-text {
    opacity: 1;
}

.col-3:hover .cat-text:after {
    width: 100%;
    left: 0;
}

.col-3:hover .category {
    transform: scale(1.025);
}

.cat-text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    font-family: 'posterama';
}

.cat-text:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.image-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.category {
    transform: scale(1);
    display: block;
    width: 100%;
    height: auto;
    transition: 0.25s;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 63%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    margin-left: -30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    outline: black;
    outline-width: 1px;
    transition: 0.5s ease;
    transform: scale(1);
}

.next {
    right: -4.5px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}


/*---------> offer <---------*/

.offer {
    background: linear-gradient(#612D52, #221430);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 {
    flex-basis: 50%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: white;
}

.col-2 .offer-img {
    padding: 50px;
    width: 100%;
}

small {
    color: #555;
}


/*---------> brands <---------*/

.brands {
    padding: 50px 50px;
    background-color: white;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transform: scale(1);
    transition: 0.5s;
}

.col-5 img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}


/*---------> footer <---------*/

.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 15%;
    text-align: center;
}

.footer-col-1 img {
    flex: 1;
    width: 120px;
    margin-bottom: 15px;
}

.footer-col-2,
.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-2 ul,
.footer-col-3 ul {
    list-style-type: none;
}

ul {
    padding: 5px 40px;
}

#menuItems {
    padding: 0px 0px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.link {
    text-decoration: underline;
    color: #8a8a8a;
}

#link {
    text-decoration: none;
    transition: 0.15s ease;
}

#link:hover {
    text-decoration: underline;
}


/*---------> shop <---------*/

.row-2 {
    justify-content: center;
    margin: 100px auto 50px;
}

.row-2 h2 {
    margin-right: 725px;
}

.row-2 p {
    cursor: pointer;
}

select {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px;
    transition: 0.25s ease;
}

select:focus {
    outline: none;
    background-color: white;
    color: black;
}

.page-btn {
    margin: 0 auto 80px;
    margin-left: 700px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid white;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: white;
    color: black;
}

.page-btn a {
    color: white;
    text-decoration: none;
}

#page-btn-active {
    background: white;
    color: black;
}

#invisible {
    display: none;
}

#visible {
    display: inline-block;
}


/*---------> Product <---------*/

.col-2 p a {
    text-decoration: none;
    color: white;
}

.product {
    margin-top: 80px;
}

.product .col-2 {
    padding: 20px;
}

.product .col-2 img {
    padding: 0px;
}

.product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

.product select {
    display: block;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.product input {
    position: absolute;
    width: 58px;
    height: 35px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
    transform: translateY(-33px) translateX(92px);
}

.product h3 {
    margin-left: 20px;
}

.product p {
    margin-left: 20px;
}

.product h1 {
    margin-left: 20px;
}

.product:focus {
    outline: none;
}

.product input::-webkit-outer-spin-button,
.product input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product input[type=number] {
    -moz-appearance: textfield;
}

#noArrows::-webkit-outer-spin-button,
#noArrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#noArrows[type=number] {
    -moz-appearance: textfield;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
}

.smol-img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    opacity: 0.5;
    transform: scale(1);
    transition: 0.5s ease;
    cursor: pointer;
}

.smol-img:hover {
    transform: scale(1.1);
    opacity: 1;
}

#active-img {
    cursor: default;
    opacity: 1;
}

#active-img:hover {
    cursor: default;
    transform: scale(1);
    opacity: 1;
}

#prod-img {
    transition: 0.5s ease;
}

.prev-prod,
.next-prod {
    cursor: pointer;
    position: absolute;
    top: 58%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    margin-left: -530px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    outline: black;
    outline-width: 1px;
    transition: 0.5s ease;
    transform: scale(1);
}

.next-prod {
    right: 900px;
    border-radius: 3px 0 0 3px;
}

.prev-prod:hover,
.next-prod:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.prod-btn {
    position: absolute;
    margin: 0 auto 80px;
    margin-left: 100px;
    transform: translateY(-33px) translateX(-53px) scale(0.9);
}

.prod-btn span {
    display: inline-block;
    border: 1px solid white;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

.prod-btn span:hover {
    background: white;
    color: black;
}

.prod-btn a {
    color: white;
    text-decoration: none;
}

#prod-btn-active {
    background: white;
    color: black;
}

.color-btn {
    position: absolute;
    margin: 0 auto 80px;
    margin-left: 100px;
    transform: translateY(-33px) translateX(-40px) scale(0.9);
}

.color-btn span {
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.red {
    border: 1px solid red;
    transition: 0.2s ease;
    color: red;
}

.red:hover {
    background: red;
    color: white;
}

.cyan {
    border: 1px solid cyan;
    transition: 0.2s ease;
    color: cyan;
}

.cyan:hover {
    background: cyan;
    color: black;
}

.green {
    border: 1px solid green;
    transition: 0.2s ease;
    color: green;
}

.green:hover {
    background: green;
    color: white;
}

.white {
    border: 1px solid white;
    transition: 0.2s ease;
    color: white;
}

.white:hover {
    background: white;
    color: black;
}

.black {
    border: 1px solid black;
    color: white;
    transition: 0.2s ease;
}

.black:hover {
    background: black;
    color: white;
}

#color-btn-active {
    color: white;
}

.product .col-1 {
    flex-basis: 100%;
    padding: 10px;
    padding-top: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-top: -100px;
    justify-content: left;
    align-items: left;
    transform: translateX(-15px);
}

.product .col-1 h4 {
    font-size: 30px;
}

.product .col-1- {
    flex-basis: 100%;
    padding: 10px;
    padding-top: 50px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-top: -100px;
    justify-content: left;
    align-items: left;
    transform: translateX(-15px);
}

.product .col-1- h4 {
    font-size: 30px;
}

.product .col-1- p {
    font-weight: bolder;
    font-size: 20px;
}

.product .col-1- a {
    font-weight: normal;
    font-size: 20px;
}

.row-2- {
    justify-content: center;
    margin: 25px auto 35px;
}

.row-2- h2 {
    margin-right: 725px;
}

.row-2- p {
    cursor: pointer;
}

.product .btn-h3 {
    margin-top: 35px;
}

.product .btn {
    transform: translateY(-65px) translateX(85px);
    margin-left: 20px;
    opacity: 100%;
    transition: 0.25s ease;
}

.product .btn:hover {
    opacity: 70%;
}


/*---------> cart <---------*/

.cart-pg {
    margin: 80px auto;
}

.cart-table {
    width: 110%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-info small {
    color: white;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    border: 1px solid white;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td a {
    color: white;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s ease;
    cursor: pointer;
}

td img:hover {
    transform: scale(1.1);
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid white;
    width: 110%;
    max-width: 420px;
    margin-right: -97px;
}

.cart-btn {
    background: white;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 50%;
    cursor: pointer;
    opacity: 100%;
    transition: 0.15s ease;
}

.cart-btn:hover {
    opacity: 70%;
}

.cart-btn:last-child {
    text-align: center;
}

td .inputQuan {
    padding: 5px;
    width: 48px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

td .inputQuan::-webkit-outer-spin-button,
td .inputQuan::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td .inputQuan[type=number] {
    -moz-appearance: textfield;
}

.remove-btns {
    cursor: pointer;
}


/*---------> account <---------*/

#container {
    position: absolute;
}

.form-container {
    background: #160a22;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.form-container span {
    color: white;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.5s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid white;
    color: black;
    background-color: white;
}

form input:focus {
    outline: none;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: #160a22;
    background-color: white;
}

form .btn:focus {
    outline: none;
}

#resetForm {
    left: -300px;
    top: -300px;
}

#PasswordForm {
    left: 0px;
    top: -300px;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0px;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: white;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 0.5s;
}

.ErrorL,
.Error,
.ErrorP,
#ErrorR {
    position: absolute;
    width: 260px;
    height: 43px;
    color: red;
    transform: translateY(-40px);
    font-size: 12px;
    text-align: center;
    opacity: 0;
    border: 1px solid red;
    margin-right: 20px;
    transition: 0.15s;
}


/*---------> cookies <---------*/

.cookies {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cookies .container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: black;
    opacity: 75%;
    padding-top: 5px;
    margin-bottom: -50px;
    vertical-align: middle;
    text-align: center;
    top: 940px;
    transition: 0.5s ease;
}

.cookie-btn{
    padding: 10px;
    margin-right: 15px;
    margin-left: 50px;
    border: 1px solid white;
    cursor: pointer;
}
.cookie-btn:last-child{
    margin-left: 0px;
}

/*---------> mobile <---------*/

@media only screen and (max-width: 995px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
        text-decoration: none;
        height: auto;
        border-radius: 50px;
        color: white;
        font-size: 1em;
        padding: 5px 10px;
        cursor: pointer;
    }
    .menu-icon:hover {
        border-radius: 50px;
        background-color: #fff;
        color: black;
        padding: 5px 10px;
    }
    .copyright {
        text-align: center;
        font-size: 20px;
    }
}

@media only screen and (max-width: 815px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .navbar .logo {
        font-size: 1em;
        padding-left: 3px;
    }
    .navbar {
        width: 100%;
        padding: 30px 20px;
    }
    #text {
        position: absolute;
        color: #fff;
        white-space: nowrap;
        font-size: 1.5em;
        z-index: 9;
        transform: translateY(-50px);
        pointer-events: none;
    }
    #btn {
        position: absolute;
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #fff;
        color: black;
        font-size: 1em;
        z-index: 9;
        cursor: pointer;
    }
    .product .row {
        text-align: left;
    }
    .product .col-2 {
        padding: 20px 0;
    }
    .product h1 {
        font-size: 26px;
        line-height: 32pc;
    }
}